{% extends 'almacen/base.html' %}
{% block content %}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container-fluid -->
        </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">una gran ayuda a la hora de buscar donde estudiar</h1>
                <hr>
                <p>informate en momentos con esta app web</p>
                <a href="{% url 'apli_min' %}" class="btn btn-primary btn-xl page-scroll">INICIA AQUI</a> 
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">acceso rapido</h2>
                    <hr class="light">
                    <p class="text-faded">todo comenzo con un grupo de nosotros buscando de puerta en puerta donde estudiar y con muchos sin acceso a internet, esta app aplica la mineria de datos web para buscar al instante las aulas libres en tu espacio de tiempo deseado</p>
                    <!-- <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="bg-dark"  >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Puedes dar tu apoyo</h2>
                    <hr class="primary">
                    <p>siempre es bueno ir mejorando y si tenes dudas, preguntas sugerencias,criticas, ideas nuevas diferentes a esto o similiar contactame</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+584143792292</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">raethandres4@gmail.com</a></p>
                    <p><a href="github">on git  hub</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}